.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.editor-panel {
  display: flex;
  flex: 5;
  overflow: hidden;
}

.right-panel {
  display: flex;
  flex-direction: column;
  flex: 2.5;
}

.last-saved {
  font-size: 0.8rem;
  color: #666;
  padding: 5px;
  text-align: right;
}